<div class="custom-snackbar">
  <ng-container *ngIf="label; else Spinner">
    <span class="loading" [ngStyle]="{ color: color }">
      {{ label }}
    </span>
  </ng-container>
</div>
<ng-template #Spinner>
  <mat-spinner [color]="color"></mat-spinner>
</ng-template>
