@import 'variables';

mat-card.mat-card {
    padding: 0;
    border-radius: 0;
}

.w-80 {
    width: 80%;
    margin: 1em auto;
}

.mat-dialog-content p {
    padding: 0.5em 1em;
    margin: 0;
    font-size: 1.2em;
    color: rgb(102, 102, 102);
    @media #{$s} {
        font-size: 0.9em;
    }
}

h4.mat-dialog-title {
    font-weight: 400;
    margin: 1em;
    @media #{$s} {
        font-size: 1em;
    }
}

.mat-card .mat-toolbar {
    height: 48px !important;
}

.mat-dialog-actions {
    margin: 0 !important;
    padding: 5px !important;
    min-height: unset !important;
    align-items: unset !important;
}

.mat-dialog-actions .mat-flat-button {
    width: 25% !important;
    border-radius: 0 !important;
}

.mat-dialog-actions .mat-flat-button:first-child {
    margin-right: 5px !important;
}
