<h4 mat-dialog-title>{{ data.title }}</h4>
<div mat-dialog-content>
	<ng-container *ngIf="isHtml">
		<p [innerHTML]="data.text"></p>
	</ng-container>
	<ng-container *ngIf="!isHtml">
		<p>{{ data.text }}</p>
	</ng-container>
	<form #form="ngForm" [formGroup]="confirmForm" (ngSubmit)="closeDialog(true)">
		<div *ngFor="let input of data.inputs" class="w-80">
			<ng-container *ngIf="input.condition && input.condition(confirmForm)" [ngSwitch]="input.type">
				<tr-fecha *ngSwitchCase="'date'" [form]="confirmForm" [placeholder]="input.placeholder" [nombre]="input.name" [min]="input.minDate" [max]="input.maxDate"></tr-fecha>
				
				<mat-form-field *ngSwitchCase="'text'" class="full-width">
					<input [formControlName]="input.name" [name]="input.name" matInput [placeholder]="input.placeholder">
					<mat-error *ngIf="confirmForm.controls[input.name]?.errors?.required">Este campo es requerido</mat-error>
				</mat-form-field>
	
				<mat-form-field *ngSwitchCase="'textarea'" class="full-width">
					<textarea
						[name]="input.name"
						matInput 
						[formControlName]="input.name" 
						cdkTextareaAutosize 
						cdkAutosizeMinRows="2" 
						cdkAutosizeMaxRows="4" 
						#autosize="cdkTextareaAutosize" 
						[maxlength]="input.max ? input.max : ''"
						[placeholder]="input.placeholder"></textarea>
					<mat-error *ngIf="confirmForm.controls[input.name]?.errors?.required">Este campo es requerido</mat-error>
					<mat-error *ngIf="confirmForm.controls[input.name]?.errors?.maxLength">Este campo excede el máximo permitido</mat-error>
				</mat-form-field>

				<div class="chbox-top center-align">
					<mat-checkbox *ngSwitchCase="'checkbox'" [formControlName]="input.name" [name]="input.name">{{ input.placeholder }}</mat-checkbox>
				</div>
			</ng-container>
		</div>
	</form>
</div>
<div mat-dialog-actions align="end">
	<button *ngIf="data.cancel" mat-button (click)="closeDialog(false)">{{ data.cancel | uppercase }}</button>
	<button mat-button (click)="closeDialog(true)">{{ data.confirm | uppercase }}</button>
</div>
