.custom-snackbar {
    display: flex;
    align-items: center;
}

.message {
    color: white;
    font-family: Roboto, Arial, sans-serif;
}

.icon-snackbar {
    margin-right: 15px;
}

mat-spinner.mat-spinner {
    margin-right: 15px;
}