input[type="file"] {
	z-index: -1;
	position: absolute;
	opacity: 0;
}

input:focus + label {
	outline: 2px solid;
}

.button-wrapper {
	display: flex;
	justify-content: center;
	align-content: center;
}
.images-wrapper {
    margin-top: 2em;
	display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;
	max-height: 450px;
}

.cropper-wrapper {
	max-width: 250px;
}

.preview-wrapper {
	height: fit-content;
    text-align: center;
	& > img {
		max-width: 250px;
		height: auto;
	}
}
