<h2>{{ doctor.name }} {{ doctor.lastname }}</h2>

<input
	#uploader
	type="file"
	id="file-upload"
	hidden
	(change)="fileChangeEvent($event)"
/>
<div class="button-wrapper">
	<button mat-flat-button color="primary" (click)="uploader.click()">
		<mat-icon>upload_file</mat-icon>
		{{ croppedImage ? "Cambiar imágen" : "Subir imágen" }}
	</button>
</div>
<ng-container *ngIf="croppedImage">
	<mat-slide-toggle
		[checked]="editionMode === true"
		(click)="editionMode = !editionMode"
		>{{ editionMode ? "Edición" : "Vista previa" }}</mat-slide-toggle
	>
</ng-container>
<div class="images-wrapper">
	<ng-container *ngIf="editionMode">
		<image-cropper
			class="cropper-wrapper"
			[imageChangedEvent]="imageChangedEvent"
			[maintainAspectRatio]="true"
			[aspectRatio]="4 / 3"
			format="png"
			(imageCropped)="imageCropped($event)"
			(loadImageFailed)="loadImageFailed()"
		></image-cropper>
	</ng-container>
	<ng-container *ngIf="!editionMode">
		<div class="preview-wrapper">
			<ng-container *ngIf="croppedImage">
				<h2>Vista previa</h2>
			</ng-container>
			<img [src]="croppedImage" />
		</div>
	</ng-container>
</div>
<div mat-dialog-actions align="end" layout="row" class="row dialog-actions">
	<div class="flex-center">
		<button (click)="close()" mat-raised-button>
			<mat-icon>close</mat-icon>
			Cerrar
		</button>
		<button mat-raised-button color="primary" (click)="onSubmit($event)">
			<mat-icon>event_note</mat-icon>
			Guardar
		</button>
	</div>
</div>
