// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";

@include mat-core();

@import "./theme.scss";

@import "./custom-component-themes.scss";

@include angular-material-theme($theming-material-components-theme);
@include custom-components-theme($theming-material-components-theme);

.dark-theme {
	@include angular-material-color($dark-theme);
}

@include angular-material-typography($typography);

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.w-100 {
	width: 100%;
}

.flex {
	display: flex;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-center {
	text-align: center;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	padding: 2em;
}

.radio-button {

}
