<div class="segment-wrapper">
    <mat-card class="card">
        <div class="message">
            <ng-container *ngIf="icon">
                <mat-icon aria-hidden="false" aria-label="Screen icon">{{icon}}</mat-icon>
            </ng-container>
            <h2 class="message title">{{message}}</h2>
        </div>
        <div class="message">
            <h4 class="message info">
                {{actionMessage}}
            </h4>
        </div>
        <ng-container *ngIf="actionLabel">
                <ng-button [primary]="true" [label]="actionLabel" (onClick)="actionEvent.emit($event)"></ng-button>
        </ng-container>
    </mat-card>
</div>