.segment {
  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    & > .card {
      display: flex;
      flex-direction: column;

      align-items: center;
      justify-content: space-evenly;

      overflow: visible;
      min-height: 18rem;
      padding: 1em 1em;
      background: #f9fafb;
      border-color: rgba(34, 36, 38, 0.15);
      -webkit-box-shadow: 0 2px 25px 0 rgb(34 36 38 / 5%) inset;
      box-shadow: 0 2px 25px 0 rgb(34 36 38 / 5%) inset;

      & > .message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-width: 420px;
        & > .title {
          margin-top: 2em;
          text-align: center;
          font-size: 1.28571429em;
        }

        & > mat-icon {
          width: auto;
          height: auto;
          line-height: 1;
          padding: 0;
          font-size: 3em;
          margin: 0 auto 0.5rem;
          opacity: 1;
        }

        & > .info {
          margin-top: 2em;
          text-align: center;
          font-size: 0.8em;
        }
      }
    }
  }
}
