<mat-toolbar [color]="themeColor">
	<ng-container *ngIf="!isMobile; else nameTemplate">
		<button type="button" class="menu-toggle" mat-button tabindex="-1" (click)="toggleSidenav()">
			<mat-icon>menu</mat-icon>
			<span *ngIf="!isMobile">{{ page }}</span>
		</button>
	</ng-container>
	
	<span class="sidenav-spacer"></span>
	
	<button mat-icon-button (click)="toggleConfNav()" matTooltip="Abrir configuracion">
		<mat-icon>
			settings
		</mat-icon>
	</button>

	<button mat-icon-button (click)="logout()" matTooltip="Salir">
		<mat-icon>
			exit_to_app
		</mat-icon>
	</button>
</mat-toolbar>

<ng-template #nameTemplate>
	{{user.name}}
</ng-template>