<section class="login-wrapper" style="background-image: url('assets/img/login/background.jpg');">
	
	<mat-card class="login-container">
		<mat-card-content>
			<div class="title">
				<mat-icon class="icon" [inline]="true">lock</mat-icon>
				<h1>Ingreso al sistema</h1>
			</div>
			<form [formGroup]="loginForm" (ngSubmit)="login()">
				<mat-form-field class="w-100">
					<mat-label>Email</mat-label>
					<input autofocus name="user" matInput formControlName="username" placeholder="Ex. jonh@doe.com">
					<mat-icon matPrefix>person</mat-icon>
				</mat-form-field>
				
				<mat-form-field class="w-100">
					<mat-label>Contraseña</mat-label>
					<mat-icon matPrefix>lock</mat-icon>
					<input matInput formControlName="password" name="password" placeholder="Contraseña" [type]="!showPass ? 'password' : 'text'">
					<mat-icon class="action" matSuffix (click)="showPass = !showPass">{{!showPass ? 'visibility_off' : 'visibility'}}</mat-icon>
				</mat-form-field>
				<button mat-flat-button color="primary" type="submit" (keyup.enter)="login()" [disabled]="loginDisabled()" >Ingresar</button>
			</form>
		</mat-card-content>
	</mat-card>
</section>