.login-wrapper {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
	&:before {
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(255, 255, 255, 0.3);
	}
}

.login-container {
	width: 500px;
	border-radius: 10px;
	overflow: hidden;
	padding: 55px 55px 37px 55px;
	background: #9152f8;
	background: -webkit-linear-gradient(top, #7dd5ed, #7579ff);
	background: -o-linear-gradient(top, #7dd5ed, #7579ff);
	background: -moz-linear-gradient(top, #7dd5ed, #7579ff);
	background: linear-gradient(top, #7dd5ed, #7579ff);
	background: linear-gradient(#7dd5ed, #7579ff);
}
.icon {
	font-size: 36px !important;
}

mat-card-content {
	display: flex;
	flex-direction: column;
	& > .title {
		color: white;
		text-align: center;
	}
}

form {
	display: flex;
	flex-direction: column;
	color: white !important;
}
