table {
  width: 100%;
}

.separated-action{
    float: right;
    margin: 2em;
}

.listView {
	display: flex;
	flex-direction: column;
}

.listView > .mat-card {
	display: flex;
	flex-direction: row;
	margin-bottom: 1em;
}

.container {
	position: relative;
	min-height: 200px;
}

.table-container {
	position: relative;
	overflow: auto;
}

.mat-expansion-panel {
	border: none !important;
    box-shadow: none !important;
}

.mat-accordion {
	width: 100%;
}

.mat-form-field {
	width: auto;
	padding: 0 .5em;
}

.filter-box {
	display: flex;
	flex-direction: row;
}

.loading-shade {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 56px;
	right: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}


.image-wrapper{
	width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
	width: 100%;
}