<div class="loading-shade" *ngIf="isLoading">
	<ng-loading></ng-loading>
</div>
<ng-container *ngIf="filter">
	<div class="action-row">
		<div class="filter-box">
			<mat-form-field>
				<input
					matInput
					(keyup)="applyFilter($event)"
					#input
					autocomplete="off"
				/>
			</mat-form-field>
		</div>
	</div>
</ng-container>
<ng-container *ngIf="dataSource.length; else noElementsTemplate">
	<ng-container *ngIf="!mobile; else mobileTemplate">
		<div class="container">
			<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
				<ng-container
					[matColumnDef]="column"
					*ngFor="let column of getColumns(); trackBy: trackByFn"
				>
					<ng-container *ngIf="column !== 'actions' && column !== 'image'">
						<th mat-header-cell *matHeaderCellDef>
							{{ getColumnName(column) }}
						</th>
						<td mat-cell *matCellDef="let element">{{ element[column] }}</td>
					</ng-container>
					<ng-container *ngIf="column == 'actions'">
						<th mat-header-cell *matHeaderCellDef>
							{{ getColumnName(column) }}
						</th>
						<td mat-cell *matCellDef="let element">
							<ng-container *ngFor="let action of actions">
								<button mat-icon-button (click)="action.callback(element)">
									<mat-icon>{{ action.icon }}</mat-icon>
								</button>
							</ng-container>
						</td>
					</ng-container>
					<ng-container *ngIf="column == 'image'">
						<th mat-header-cell *matHeaderCellDef>
							{{ getColumnName(column) }}
						</th>
						<td mat-cell *matCellDef="let element">
							<div class="image-wrapper">
								<img class="image" [src]="element.url ? element.url : './assets/img/nopicture.png' ">
							</div>
						</td>
					</ng-container>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="getColumns()"></tr>
				<tr mat-row *matRowDef="let row; columns: getColumns()"></tr>
			</table>
			<mat-paginator
				#paginator
				[length]="resultsLength"
				[pageSize]="pageSize"
				[pageIndex]="pageIndex"
				[pageSizeOptions]="pageSizeOptions"
				[showFirstLastButtons]="true"
				(page)="handlePageEvent($event)"
			></mat-paginator>
		</div>
	</ng-container>
</ng-container>

<ng-template #mobileTemplate>
	<div class="listView">
		<ng-container
			*ngFor="let elementRow of dataSource; let i = index; trackBy: trackByFn"
		>
			<mat-card>
				<button
					mat-icon-button
					[matMenuTriggerFor]="menu"
					aria-label="Menu trigger button"
				>
					<mat-icon>more_vert</mat-icon>
				</button>
				<mat-menu #menu="matMenu">
					<button mat-menu-item>
						<span>Action 1</span>
					</button>
				</mat-menu>
				<mat-accordion>
					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title>
								{{ elementRow.name }}
							</mat-panel-title>
							<mat-panel-description>
								{{ elementRow.weight }} {{ elementRow.symbol }}
							</mat-panel-description>
						</mat-expansion-panel-header>
						<p>Other information</p>
					</mat-expansion-panel>
				</mat-accordion>
			</mat-card>
		</ng-container>
		<mat-paginator
			#paginator
			[length]="resultsLength"
			[pageSize]="pageSize"
			[pageIndex]="pageIndex"
			[pageSizeOptions]="pageSizeOptions"
			[showFirstLastButtons]="true"
			(page)="handlePageEvent($event)"
		></mat-paginator>
	</div>
</ng-template>

<ng-template #noElementsTemplate>
	<ng-segment
		icon="description"
		message="Sin elementos"
		actionMessage="Pruebe agregar elementos nuevos"
		actionLabel="Agregar nuevo elemento"
	></ng-segment>
</ng-template>
