<div class="container">
	<h2 class="text-center">Configuracion</h2>
	<mat-divider></mat-divider>
	<mat-card class="setting-card pointer" (click)="toggleMode()">
		<div class="icon-container" [ngClass]="{ 'light-mode': !isDarkTheme }">
			<mat-icon>nights_stay</mat-icon>
		</div>
		<div class="details">
			<h2>Modo oscuro</h2>
			<h4>({{ isDarkTheme ? "Activado" : "Desactivado" }})</h4>
		</div>
	</mat-card>
</div>
