.theme-container {
	padding-top: 1em;
	width: fit-content;
	display: flex;
	flex-direction: column;
}
.container {
	padding: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.setting-card {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: fit-content;
	width: auto;
	&.theme-selector {
		margin-top: 2em;
		flex-direction: column;
	}
	&>.icon-container {
		width: 5.75rem;
		height: 4.75rem;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 1em 0 0;
		border-radius: 6px;
		color: #c3c3c3;
		&:hover{
			background-image: linear-gradient(90deg,#d5bfff,#b18aff);
			color: white;
		}
		&>.mat-icon {height: 36px; width: 36px;}
		&>.material-icons {font-size: 36px;}
	}
}

.light-mode {
	background-image: linear-gradient(90deg,#b18aff,#a16eff);
	color: white !important;
}
