<section class="header-container">
    <ng-container *ngIf="icon">
        <mat-icon aria-hidden="false" aria-label="Example home icon">{{icon}}</mat-icon>
    </ng-container>
    <div class="header-text">
        <h1 class="title" [ngClass]="titleClass">{{title}}</h1>
        <h4 class="subtitle" [ngClass]="subtitleClass">{{subtitle}}</h4>
    </div>
    <ng-container *ngIf="mainActionLabel">
        <ng-button [primary]="true" [label]="mainActionLabel" (onClick)="mainClickHandler()"></ng-button>
    </ng-container>
    <ng-container *ngIf="secondaryActionLabel">
        <ng-button [label]="secondaryActionLabel" (onClick)="secondaryActionEvent.emit($event)"></ng-button>
    </ng-container>
    <mat-divider></mat-divider>
</section>