.header{
    &-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: .5em;
        padding: 1em;
        padding-bottom: .21428571rem;
        border-bottom: 1px solid rgba(34,36,38,.15);
        margin-bottom: 2em;
    }
    &-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }
}

.title, .subtitle{
    margin: 0px;
}

.subtitle {
    color: gray;
}
